/* Universal selector - these values will apply to all HTML elements unless explicitly overriden. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Moved font-family property under universal selector */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets background color for the main background of the webpage */
body {
    background-color: #d9dcd6;
}

/* Sets default styling for all hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets default font-related properties for all paragraph elements */
p {
    font-family: inherit;
    font-size: 16px;
}

/* Sets properties for header element */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets properties for company name */
.header h1 {
    display: inline-block;
    font-family: inherit;
    font-size: 48px;
}

/* Renamed this selector to use the class name of the 'span' element */
/* Controls the styling of the letters 'seo' of the company name */
.seo {
    font-family: inherit;
    color: #d9dcd6;
}

/* Sets properties for navigation element */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Sets properties for list of navigation links */
.header nav ul {
    list-style-type: none;
}

/* Sets properties for the individual navigation links */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removed background image from 'hero' selector, moved to HTML as 'img' element to add 'alt' attribute */
/* Sets properties for main banner */
.hero {
    height: 800px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

/* Sets properties for main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidated CSS properties for all items in main container under class selectors */
/* Sets properties for articles in main content */
.content-items {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;  
}

/* Sets properties for the articles images in main content */
.content-items img {
    max-height: 200px;
    /* Moved "float-left" selector properties here for left indentation to be the default */
    /* 
        NOTE: If customer wants to change the default to right indentation, then change this float value to "right" 
        Then, under the #float-opposite selector, change float value to "left"
    */
    float: left;
    margin-right: 25px;
}

/*
    Kept this selector to allow articles images to be indented right when specified via 'id' in HTML.
    I had to change it from a Class selector to an ID selector to achieve desired result.
*/
/* 
    NOTE: Add the id="float-opposite" attribute+value in HTML to img elements to be indented in the opposite direction from the default.
*/
#float-opposite {
    float: right;
}

/* Sets properties for titles of articles in main content */
.content-items h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets properties for sidebar content */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Consolidated CSS properties for all items in aside container under class selectors */
/* Sets properties for sidebar items */
.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets properties for titles of sidebar items */
.benefit-items h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets properties for icons of sidebar items */
.benefit-items img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets properties for page footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets properties for page footer message */
.footer h2 {
    font-family: inherit;
    font-size: 20px;
}
