/* Universal selector - these values will apply to all HTML elements unless explicitly overriden. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* Moved font-family property under universal selector */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-family: inherit;
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-family: inherit;
    font-size: 48px;
}

/* Renamed this selector to use the class name of the "span" element */
.seo {
    font-family: inherit;
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Removed background image, moved to HTML to add "alt" attribute */
.hero {
    height: 800px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Consolidated CSS properties for all items in aside container under class selectors */
.benefit-items {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-items h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-items img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated CSS properties for all items in main container under class selectors */
.content-items {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;  
}

.content-items img {
    max-height: 200px;
    /* Moved "float-left" selector properties here for left indentation to be the default */
    /* 
        NOTE: If customer wants to change the default to right indentation, then change this float value to "right" 
        Then, under the #float-opposite selector, change float value to "left"
    */
    float: left;
    margin-right: 25px;
}

/*
    Kept this selector to allow articles images to be indented right when specified via ID.
    I had to change it from a class selector to an ID selector to achieve desired result.
*/
/* 
    NOTE: Add the id="float-opposite" attribute+value in HTML to img elements to be indented in the opposite direction from the default.
*/
#float-opposite {
    float: right;
}

.content-items h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-family: inherit;
    font-size: 20px;
}
